# Segmenting and Clustering Neighborhoods in Toronto

### Exploring and clustering the neighborhoods in Toronto
<img src="https://www.toronto.ca/wp-content/uploads/2017/12/9578-moving-to-toronto-7.png" alt="Italian Trulli">

Step 1 - Scraping the neighborhoods data from the wikipedia page

Let's download all the dependencies that we will need.

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request

Now lets download the contents of the web page using urllib and BeautifulSoup

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
page = urllib.request.urlopen(url)

In [4]:
soup = BeautifulSoup(page, 'html.parser')

Find the table with the data

In [5]:
table = soup.find_all('table')[0]

Now, lets clean up table

In [6]:
del table['class']

and convert it to a pandas dataframe with the correct column names

In [7]:
dfs = pd.read_html(table.prettify(), flavor='bs4')

In [8]:
df = dfs[0]

In [9]:
df.columns = df.iloc[0]
df = df.reindex(df.index.drop(0))
df.rename(columns={'Postcode':'PostalCode'}, inplace=True)
df.head()

0 PostalCode           Borough     Neighbourhood
1        M1A      Not assigned      Not assigned
2        M2A      Not assigned      Not assigned
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront

Great, now we have a dataframe with the correct colums! But now we need to get rid of the "Not Assigned" rows

In [10]:
df = df[df.Borough != 'Not assigned']
df.Neighbourhood.replace('Not assigned',df.Borough,inplace=True)

Now we will group the data by postal code and Comma Seperate the Neighbourhood

In [12]:
df = df.groupby(['PostalCode', 'Borough'])['Neighbourhood'].apply(", ".join)
df = df.reset_index()
df.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [13]:
df.shape

(103, 3)